*{
    margin: 0;
    padding: 0;
}


.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* nav-bar style start */
.nav-bannar-wraper{
    background-color: rgb(33, 33, 33);
}
.nav-bar-wraper{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}
.nav-title{
    color:#E6533C;
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 1.5rem;
}   
.nav-items{
    border: 1px solid gray;
    border-radius: 2.5rem;
    margin-top: 2rem;
}
.nav-btn{
    color: rgba(255, 255, 255, 1.00);
    background-color: rgb(33, 33, 33);
    border: none;
    padding: 4px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}
.btn-primary{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #E6533C;
    border-radius: 43px;
    border: none;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 13px 32px;
}
.menu-icon{
    color: aliceblue;
    display: none;
    margin-top: 2.8rem;
}
/* nav-bar style end  */

@media screen and (max-width:576px) {
    .nav-title{
        margin-top:2rem;
        margin-left: 1rem;
    }
    .nav-items{
        display: none;
    }
    .menu-icon{
        color: aliceblue;
        display: block;
        margin-right: 1rem;
    }
}