*{
    margin: 0;
    padding: 0;
}
.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.body-bg{
    background-color: #B9B9B9;
}
/* share style  */
.nav-title{
    color:#E6533C;
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 1.5rem;
}
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}
.text-light-gray{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}
.title-des>h1{
    margin-bottom: .8rem;  
 }
 .title-des>p{
     padding-bottom: 3.5rem;
 }
/* nav-bar style start */
.nav-bannar-wraper{
    background-color: rgba(17, 17, 17, 1.00);
}
.nav-bar-wraper{
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}   
.nav-items{
    border: 1px solid gray;
    border-radius: 2.5rem;
    margin-top: 2rem;
}
.nav-btn{
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(17, 17, 17, 1.00);
    border: none;
    padding: 4px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}
.btn-primary{
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    border-radius: 43px;
    border: none;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 13px 32px;
}
.menu-icon{
    color: aliceblue;
    display: none;
    margin-top: 2.8rem;
}
/* nav-bar style end  */
/* bannar style start */
.bannar{
    max-width: 1100px;
    margin: 0 auto;
}
.bannar-content-wraper{
    margin-right: 5rem;
    width: 92%;
    padding: 1rem;
}
.bannar-content{
   margin-top: 6rem;
   margin-bottom: 4rem;
}
.title-bold{
    font-size: 4.8rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 1rem;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 300;

}
.text-gray {
        color: rgba(255, 255, 255, 0.50);
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
        margin-right: 4rem;
}
.btn2{
    background-color: rgb(33, 33, 33);
    color: #ffffff;
    border: 1px solid #ffffff;
}
.bannar-bg-img{
   background-image: url(images/Images\ 2.png);
   width: 80%;
   height: 37rem;
   background-repeat: no-repeat;
   margin-top: 2rem;
   margin-left: 5rem;
   text-align: center;
   justify-content: center;
  
}
.card{
    align-items: center;
}
.card-1{
    background-color:rgba(255, 255, 255, 0.10);
    font-size: 1.5rem;
    font-weight: 900;
    color:#FAFAF9;
    width: 11rem;
    height: 6rem;
    border-radius: .8rem;
    margin-top: 26rem;
    margin-left: -4rem;
}
.card-h4{
    margin-top: 1rem;
    margin-left: rem;
}
.card-p{
    margin-left: 1.5rem;
}
.svg>svg{
    width: 2rem;
    height: 2rem;
    color: #E6533C;
    margin-top: 26rem;
    margin-left: -5rem;
    
}
.card-2{
    background-color:rgba(255, 255, 255, 0.10);
    font-size: 2.5rem;
    font-weight: 900;
    color:#FAFAF9;
    width: 12rem;
    height: 6rem;
    border-radius: .8rem;
    margin-left: 15rem;
    margin-top: -25rem;
}
/* bannar style end  */

/* main style start */
.main-wraper{
    background-color: #080808;
    padding-bottom: 100px;
}
.main-frist-section{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
}
/* change-habit style  */

/* exercise-container style  */
.exercise-container{
grid-template-columns: repeat(4,1fr);
gap: 1.5rem;
width: 100%;
margin-bottom: 5rem;
}
.exer-img{
    border: 1px solid gray;
    border-radius: 50%;
}
.img-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 2.9rem;
}
.exer-content>p{
    margin-top: .5rem;
    padding-bottom: 2rem;
}
/* run-wraper style  */
.run-wraper{
    width: 1100px;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1.00);
    border-radius: 18px;
}
.run-contents{
    padding: 40px 165px 40px 54px;
}
.run-content>h1{
    margin-bottom: .8rem;
}
.run-content{
    width: 100%;
}
.run-content>p{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.run-contents>button{
   margin-bottom: 0;
}
.run-img{
    width: 100%;
}
.run-img>img{
    width: 300px;
    height: 300px;
    border-radius: 18px;
    margin: 45px 40px 20px 0;
}
/* bmi-calculetor style  */
.bmi-title-des{
    max-width: 1100px;
    margin:  0 24rem;
    padding-top: 5rem;
}
.bmi-wraper{
    width: 100%;
    background-color: rgba(34, 34, 34, 1.00);
}
.bmi-content{
    max-width: 1100px;
    margin: 0 auto;
    
}
.bmi-h3{
    font-size: 1.8rem;
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}
.bmi-calculet>p{
   margin-top: 0;
   margin-bottom: 2rem;
}
table{
    border: 1px solid gray;
    align-items: center;
    border-collapse: collapse;
}
th{
    color: #FFFFFF;
    text-align: center; 
}
td{
    padding: .5rem 1.5rem;
    color: #B9B9B9;
    font-size: 1rem;
    font-weight: 300;
}
.bmi-calculet{
    width: 55%;
    padding-left: 10rem;
}
.input-fills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
    padding-bottom: .5rem;
}
.activity{
    display: grid;
    grid-template-columns: repeat(1fr);
}
input,select{
    padding: .8rem 1rem;
    border-radius: .8rem;
    border: none;
    background-color: #525151ad;
    color: rgba(255 255 255 / 39%);
}
.bmi-btn{
 margin-top: 34px;
 margin-bottom: 34px;
}

/* our team style  */
.our-team{
    max-width: 1100px;
    margin: 0 auto;
}
.team-title-des{ 
    text-align: center;
    padding-top: 3rem;
    margin:0 20%;
}
.teams{
   
    background-color:  rgba(34, 34, 34, 1.00);
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}
.member{
    margin-bottom: 0rem;
    width: 21rem;
    height: 20rem;
    position: relative;
    
}
.member img{
   width: 100%;
   height: 100%;
    border-radius: 1rem;   
}
.trainer-name{
    position: absolute;
    margin-top: -4rem;
    margin-left: 1.25rem;
}
.member h4{
    color: #FAFAF9;
}

/* main style end  */
@media screen and (max-width:576px) {
    .bannar,
    .run-wraper,
    .bmi-content{
        flex-direction: column;
    }
    /* nav-bar  */
    .nav-title{
        margin-top:2rem;
        margin-left: 1rem;
    }
    .section-title{
        font-size: 2rem;
        font-weight: 900;
        color: #FFFFFF;
    }
    .text-light-gray{
        font-size: .9rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.50);
        padding: 0;
    }
    .nav-items{
        display: none;
    }
    .menu-icon{
        color: aliceblue;
        display: block;
        margin-right: 1rem;
    }
    .btn-primary {
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #E6533C;
        border-radius: 45px;
        border: none;
        margin-left: -3px;
        margin-top: 9px;
        margin-bottom: 2px;
        padding: 12px 29px;
    }
    .btn2{
        background-color: rgb(33, 33, 33);
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    /* bannar  */
    .title-bold {
        font-size: 2.23rem;
        font-weight: 900;
        color: #ffffff;
        margin-bottom: 1rem;
        margin-top: -4rem;
    }
    .card-1{
        background-color: rgba(255, 255, 255, 0.10);
        font-size: 1.5rem;
        font-weight: 900;
        color: #FAFAF9;
        width: 11rem;
        height: 6rem;
        border-radius: .8rem;
        margin-top: 26rem;
        margin-left: -4rem;
    }
    .card-2{
        background-color: rgba(255, 255, 255, 0.10);
    font-size: 1.8rem;
    font-weight: 900;
    color: #FAFAF9;
    width: 9rem;
    height: 6rem;
    border-radius: .8rem;
    margin-left: 12rem;
    margin-top: -30rem;
    }
    .svg>svg{
        width: 2rem;
        height: 2rem;
        color: #E6533C;
        margin-top: 26rem;
        margin-left: -5rem;
    }
    /* exercise  */
    .exercise-container{
        grid-template-columns:1fr;
        padding-bottom: 2rem;
    }
    /* run an Extra  */
    .run-wraper{
        width: 92%;
        margin-left: 17px;
        margin-right: 13px;
    }
    .run-contents {
        padding: 30px 33px 25px 33px;
    }
     .run-contents>button {
            width: 100%; 
    }
    .run-img{
        width: 89%;
    }
    .run-img>img {
        width: 100%;
        height: 100%;
        border-radius: 18px;
        margin: 29px 26px 26px 20px;
    }
    /* bmi heading  */
    .bmi-title-des {
        margin: 0 1rem;
        padding-top: 2rem;
    }
    .title-des>h1 {
        margin-bottom: 0.8rem;
        padding-left: 1rem;
    }  
    .title-des>p {
        padding-bottom: 3.5rem;
        padding-left: 1rem;
    }
    /* bmi calculator  */
    .bmi-content {
        max-width: 91%;
        margin: 0 auto;
        padding: 0 1.8rem;
    }
    .bmi-calculet {
        width: 100%;
        padding: 0;
    }
    .bmi-h3 {
        margin-top: 1rem;
        padding-top:0 ;
        padding-bottom: 1.5rem;
    }
    input{
        padding: .8rem 0rem;
        text-align: center;
    }
    .bmi-btn{
        margin-top: 34px;
        margin-bottom: 34px;
    }
   /* our team  */
   .team-title-des {
    text-align: center;
    padding-top: 4rem;
    margin: 0 5%;
}
   .teams{
    grid-template-columns: none;
    margin: 0 1.25rem;
   }
   .member{
    width: 22rem;
   }
    
}
